NODE_ENV="development"
PORT=3000
DATABASE_HOST="localhost:5432"
DATABASE_PASSWORD="password"
DATABASE_USER="user"
DATABASE_NAME="athletiqly_db"
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}/${DATABASE_NAME}"

STRAVA_CLIENT_ID="strava_client_id"
STRAVA_CLIENT_SECRET="strava_client_secret"

DISCORD_BOT_TOKEN="discord_bot_token"

JWT_SECRET="jwt_secret"

CORS_ORIGIN="http://localhost:3000"

LOG_LEVEL="info"